* {
    color: white;
    font-family: 'Rubik Bubbles';
}

body {
    background-color: black;
}
header::before{

    background: url("https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60") no-repeat center center/cover;
    content:"";
    /* background-size: cover; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

h1,
p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 18px;

}

h1{
    margin:20px 20px
}

nav ol {
    list-style: none;
    display: flex;
}

nav li {
    margin: 20px 20px;
    padding: 10px 20px;
    justify-content: center;
}

li:hover {
    color: darkgrey;
    cursor: pointer;
}
section{
    display: flex;
    flex-direction: column;

}
/* section::before{
    content: "hello world";
} */